body{
    width: 100%;
    background: url("../images/zhaohuimima.jpg") no-repeat center top;
    background-size: cover;
    min-height: 900px;
}
#container{
    width: 100%;
}
#container .c_box{
    width: 428px;
    height: 526px;
    color: #fff;
    background: url(../images/zhmm_bj.png) no-repeat left top;
    margin: 40px 0 50px 50px;
}
#container .c_box form{
    width: 290px;
    padding-left: 70px;
    margin-top: 50px;
}
#container .c_box .c_ul1 li{
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    font-weight: bold;
}
#container .c_box .c_ul2,#container .c_box .c_ul3{
    background: url("../images/reg_input_bj.png") no-repeat;
    height: 38px;
    line-height: 38px;
    margin-top: 25px;
}
#container .c_box .c_ul2 .c_li1{
    width: 65px;
    float: left;
    padding-left: 25px;
}
#container .c_box .c_ul2 .c_li2 input,#container .c_box .c_ul3 #yzm{
    height: 38px;
    width: 180px;
    background: none;
    outline: none;
    float: left;
    color: #ccc;
}
#container .c_box .c_ul3 #yzm{margin-left: 25px}
#container .c_box .c_ul3{position: relative}
#container .c_box .c_ul3 #yzm1{
    position: absolute;
    width: 140px;
    height: 38px;
    background-color: #ccc;
    right: 0;
    top:0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
#container .c_box .c_ul4 li input{
    width: 290px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #f38c1e;
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
    border-radius: 20px;
    cursor: pointer;
}
#p_foot{
    text-align: center;
}
#p_foot a{color: #fff;text-decoration: underline}
